html, body {
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', system-ui, sans-serif;
    background: #fcfaf8ff;
    color: #c81f1e;
}
.header {
    padding: 10px 0;
    text-align: center;
    background: #fcfaf8ff;
    color: #c81f1e;
}
.header h1 {
    margin: 0;
    font-size: 2rem;
}
.nav-bar {
    background: #c81f1e;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
    margin: 0;
}
.nav-bar a {
    color: #fcfaf8ff;
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}
.nav-bar a + a::before{
    content: "|";
    color: rgba(255, 255, 255, 0.9);
    margin:0 3rem;
    font-weight: 300;
}
.nav-bar a:hover {
    color: #ffffff;
    font-weight: 600;
}
.hero-image {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("joeshero.webp");
    background-size: cover;
    background-position: center;
}
.hero-inner {
    margin-inline: auto;
}
button {
    font-family: 'DynaPuff', system-ui, sans-serif;
    font-weight: 300;
    background: #fff;
    color: #c81f1e;
    border: 0.5rem solid #c81f1e;
    padding: 2rem 6rem;
    font-size: 4rem;
    border-radius: 5rem;
    cursor: pointer;
    transition-duration: 0.5s;
}
button:hover {
    background: #c81f1e;
    color: #fff;
    border: 0.5rem solid #c81f1e;
}
.content{
    min-height: 800px;
}

.receipt{
    font-family: "Domine", serif;
    font-weight: 700;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem 1.25rem;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.12);
}
.receipt h1{
    margin:.3rem 0;
}
.receipt .line{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.receipt .line h1{
    margin:.25rem 0;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 300;
}
.receipt .total{
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}